langchain==0.2.1
langgraph==0.0.55
langchain-huggingface==0.0.3
langchain-community==0.2.1


lancedb==0.8.0
pandas
datasets==2.19.1
pypdf==4.2.0



fastapi==0.111.0
uvicorn==0.30.0
ollama==0.2.1
huggingface_hub==0.23.2
python-dotenv==1.0.1



streamlit==1.35.0
plotly==5.22.0



numpy
scipy
hypothesis
reportlab
pdfplumber
textstat
